div {
    margin-left: 450px;
    width: 400px;
    height: 80px;
}
table{
    border: solid 1px;
    }
table tr{
    border: solid 1px; 
    }
table tr td {
    border: solid 1px;
    
    }
    table tr td p{
	    font-size: 10px;
	} 